/* iCheck plugin Flat skin, blue
----------------------------------- */
ul.checklist {
	font-size:16px;
	line-height:20px;
	list-style-type: none;
	padding: 0;
}
.checklist li {
	position: relative;
	padding-left: 40px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.checklist label {
	padding: 0;
	cursor:pointer;
}

.icheckbox_flat-blue, .iradio_flat-blue {
	position: absolute!important;
	left: 0;
	top: 0px;
}

.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../i/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-blue {
    background-position: 0 0;
}
    .icheckbox_flat-blue.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-blue.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-blue.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-blue {
    background-position: -88px 0;
}
    .iradio_flat-blue.checked {
        background-position: -110px 0;
    }
    .iradio_flat-blue.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-blue.checked.disabled {
        background-position: -154px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(../i/blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}
