@-ms-viewport{width:device-width}

/* fouc */
/* ==== */
#loader{background:#fff;position:fixed;width:100%;height:100%;z-index:999}
#loader.loaded{-webkit-animation:fouc .5s .5s;animation:fouc .5s .5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
#byebye{-webkit-animation:fouc .5s;animation:fouc .5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-webkit-keyframes fouc{from{opacity:1}to{opacity:0}}
@keyframes fouc{from{opacity:1}to{opacity:0}}

/* resets */
/* ====== */
body,fieldset,figure,form{margin:0}
fieldset,img,legend{border:0}
pre,textarea{overflow:auto}
fieldset,legend,td,th{padding:0}
code,kbd,mark,samp,textarea{padding:.2em .5em;border-radius:4px}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:0 0}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted;cursor:help}
mark{background:#ff0!important;color:#000}
small{font-size:75%}
sub,sup{font-size:65%;line-height:0;position:relative;vertical-align:baseline;font-weight:400}
sup{top:-.5em}
sub{bottom:-.25em}
img{height:auto;max-width:100%}
svg:not(:root){overflow:hidden}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
*,*:after,*:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
textarea{resize:vertical;min-height:120px;width:100%}
optgroup{font-weight:400}
table{border-collapse:collapse;border-spacing:0}
ins,u{border-bottom:1px solid #4d4d4d;text-decoration:none}
del,s,strike{text-decoration:line-through}
code,kbd,mark,samp{background:#F1F1F1;font-size:85%}
.hidden,.invisible{visibility:hidden}
b,strong{font-weight:600}
address,blockquote,cite,dfn,em,i,var{font-family:'Libre Baskerville',serif;font-weight:400;font-style:italic}
q:after,q:before{font-size:1.15em}
q:before{content:'\201c'}
q:after{content:'\201d'}
dd{margin:0 0 0 2.5em}
menu,ol,ul{padding:0 0 0 1.5em}
ol ol{list-style-type:lower-alpha}
ol ol ol{list-style-type:lower-roman}
::-moz-selection,::selection{background:#37F;color:#fff;text-shadow:none}
th::-moz-selection,th::selection{background:0 0;color:inherit}
p{-ms-word-break:break-all;-ms-word-wrap:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;-webkit-hyphenate-before:2;-webkit-hyphenate-after:3;hyphenate-lines:3}

/* helper classes */
/* ============== */
.clearfix:after,.clearfix:before{display:table;content:" "}
.clearfix:after{clear:both}
dl.inline dd{margin-left:0}
dl.inline dd,dl.inline dt{display:inline-block}
dl.inline dt:after{content:";"}
dl.inline dd:after{content:"."}
.center-text{text-align:center}
.center-image{display:block;margin:0 auto}
.thin-text{font-weight:400!important}
.font-16 p,p.font-16{font-size:16px;line-height:24px}
.justify-text{text-align:justify}
img.valign{margin-bottom:.4em;margin-top:.4em}
.hidden{display:none!important}
.fullscreen,.fullwidth{width:100%}
.fullheight,.fullscreen,.icovr,.middlize,.vmid{overflow:hidden;position:relative;display:block}
.middlize,.vmid{margin-top:0;margin-bottom:0}
.middlize{margin:0 auto}
.icovr>img{position:absolute;max-width:99999px}
.valign-h2 {margin-top:2em;}

/* icon font */
/* ========= */
@font-face {font-family:iconfont;src:url(../fonts/iconfont.eot);src:url(../fonts/iconfont.eot?#iefix) format('embedded-opentype'),url(../fonts/iconfont.woff) format('woff'),url(../fonts/iconfont.ttf) format('truetype'),url(../fonts/iconfont.svg#iconfont) format('svg');font-weight:400;font-style:normal}
[class*=icon-]{font-family:iconfont;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:0;-webkit-font-smoothing:antialiased;-webkit-text-stroke:0}[class*=icon-]:before{position:relative;top:.13em;font-size:1.1765em}.icon-warning:before{content:"\21"}.icon-quote:before{content:"\22"}.icon-cart:before{content:"\24"}.icon-repeat:before{content:"\25"}.icon-ampersand:before{content:"\26"}.icon-sort:before{content:"\62"}.icon-left:before{content:"\28"}.icon-file:before{content:"\77"}.icon-star:before{content:"\2a"}.icon-plus:before{content:"\2b"}.icon-arrow-up:before{content:"\2c"}.icon-minus:before{content:"\2d"}.icon-arrow-down:before{content:"\2e"}.icon-thumbs-up:before{content:"\2f"}.icon-number-0:before{content:"\30"}.icon-number-1:before{content:"\31"}.icon-number-2:before{content:"\32"}.icon-number-3:before{content:"\33"}.icon-number-4:before{content:"\34"}.icon-number-5:before{content:"\35"}.icon-number-6:before{content:"\36"}.icon-number-7:before{content:"\37"}.icon-number-8:before{content:"\38"}.icon-number-9:before{content:"\39"}.icon-down:before{content:"\3a"}.icon-up:before{content:"\3b"}.icon-arrow-left:before{content:"\3c"}.icon-menu:before{content:"\3d"}.icon-arrow-right:before{content:"\3e"}.icon-help:before{content:"\3f"}.icon-right:before{content:"\29"}.icon-bookmark:before{content:"\42"}.icon-clock:before{content:"\43"}.icon-dribbble:before{content:"\44"}.icon-login:before{content:"\45"}.icon-facebook:before{content:"\46"}.icon-google-plus:before{content:"\47"}.icon-home:before{content:"\48"}.icon-picture:before{content:"\49"}.icon-picasa:before{content:"\4a"}.icon-key:before{content:"\4b"}.icon-linkedin:before{content:"\4c"}.icon-mail:before{content:"\4d"}.icon-feed:before{content:"\4e"}.icon-logout:before{content:"\4f"}.icon-pinterest:before{content:"\50"}.icon-comment:before{content:"\51"}.icon-reply:before{content:"\52"}.icon-cog:before{content:"\53"}.icon-twitter:before{content:"\54"}.icon-user:before{content:"\55"}.icon-play:before{content:"\56"}.icon-remove:before{content:"\58"}.icon-ok:before{content:"\59"}.icon-tools:before{content:"\5a"}.icon-sort-up:before{content:"\5b"}.icon-foward:before{content:"\66"}.icon-thumbs-down:before{content:"\5c"}.icon-sort-down:before{content:"\5d"}.icon-upload:before{content:"\75"}.icon-plane:before{content:"\61"}.icon-vimeo:before{content:"\76"}.icon-cross:before{content:"\78"}.icon-search:before{content:"\71"}.icon-calendar:before{content:"\63"}.icon-download:before{content:"\64"}.icon-earth:before{content:"\65"}.icon-github:before{content:"\67"}.icon-heart:before{content:"\68"}.icon-info:before{content:"\69"}.icon-phone:before{content:"\74"}.icon-disk:before{content:"\73"}.icon-link:before{content:"\6c"}.icon-map-marker:before{content:"\6d"}.icon-retweet:before{content:"\72"}.icon-print:before{content:"\70"}.icon-flickr:before{content:"\6b"}.icon-camera:before{content:"\6a"}.icon-credit:before{content:"\7b"}.icon-paypal:before{content:"\7d"}.icon-youtube:before{content:"\79"}.icon-spinner:before{content:"\6f"}.icon-music:before{content:"\6e"}.icon-share:before{content:"\7a"}.icon-verified:before{content:"\2714"}.icon-bar:before{content:"\2015"}.icon-at:before{content:"\7c"}.icon-open-quote:before{content:"\201c"}.icon-alarm:before{content:"\5f"}.icon-tag:before{content:"\23"}.icon-pencil:before{content:"\57"}.icon-paperclip:before{content:"\41"}

/* base typography */
/* =============== */
body{font-size:16px;line-height:1.4em;color:#4d4d4d;font-family:'Open Sans',Helvetica,Arial;font-weight:400}
address,blockquote,dl,figure,h1,h2,h3,h4,h5,h6,menu,ol,p,pre,table,table caption,ul{margin:1em 0;font-weight:inherit}
a,a:visited{text-decoration:none;color:#37F}
a:link,a:visited:link{-webkit-tap-highlight-color:rgba(0,0,0,.3)}
.h1 a,.h1 a:visited,.h2 a,.h2 a:visited,.h3 a,.h3 a:visited,a.h1,a.h1:visited,a.h2,a.h2:visited,a.h3,a.h3:visited,h1 a,h1 a:visited,h2 a,h2 a:visited,h3 a,h3 a:visited{color:inherit}
p a,p a:visited{outline:0;border-bottom:1px solid transparent}
.h4 a:hover,.h4 a:visited:hover,a.h4:hover,a.h4:visited:hover,h4 a:hover,h4 a:visited:hover,p a:hover,p a:visited:hover{border-bottom:1px solid #37f}
.h1,.h2,.h3,.h4,h1,h2,h3,h4{text-rendering:optimizelegibility;font-weight:600;line-height:inherit;text-transform:uppercase}
.h5,.h6,h5,h6{font-weight:400}
.h1,h1{font-size:2.643em;margin:.5em 0}
.h2,h2{font-size:2.073em;margin:.6em 0}
.h3,h3{font-size:1.626em;margin:.7em 0}
.h4,h4{font-size:1.275em;margin:.8em 0}
.h5,h5{font-size:.784em;text-transform:uppercase;letter-spacing:1.5px}
.h6,h6{font-size:.615em}
blockquote{font-size:1.2em;margin-left:0}
blockquote:before{float:left;content:'\22';font-style:normal;font-size:3.5em;font-family:iconfont;line-height:.8em;opacity:.35}
blockquote .source{font-family:'Open Sans',helvetica,sans;font-style:normal}
blockquote .source:before{content:'\2015\2015\00a0\00a0';font-family:iconfont;opacity:.35}
span.initial{float:left;margin-right:.1em;font-size:3.2em;margin-bottom:-.15em}

/* custom styles */
/* ============= */
.logo-container {
  position:relative;
  text-align:center;
  margin-bottom:100px;
}

.logo {
  position:relative;
  display:inline-block;
}

.name, .job {
  font-size: 1.4em;
  vertical-align:middle;
}

.name {
  margin:0 35px;
}

.job {
  margin:0 35px;
}

.me-cont img {
  border-radius:6px;
  margin-bottom:1em;
}

.fa-facebook-square {color:#3B5998;}
.fa-twitter-square {color:#55ACEE;}
.fa-github-square {color:#171515;;}




/* print */
/* ===== */
@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,*:after,*:before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href)")"}abbr[title]:after{content:" (" attr(title)")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
