@-ms-viewport{width:device-width}

/* ===== FOUC ===== */
/* ================ */

#loader{background:white;position:fixed;width:100%;height:100%;z-index:999}
#loader.loaded{-webkit-animation:fouc .5s .5s;animation:fouc .5s .5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
#byebye{-webkit-animation:fouc .5s;animation:fouc .5s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-webkit-keyframes fouc{from{opacity:1}to{opacity:0}}
@keyframes fouc{from{opacity:1}to{opacity:0}}

/* ===== NORMALIZE ===== */
/* ===================== */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:75%}
sub,sup{font-size:65%;line-height:0;position:relative;vertical-align:baseline;font-weight:400}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0;height:auto;vertical-align:middle;}
svg:not(:root){overflow:hidden}
figure,form{margin:0}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

/* ===== CUSTOM RESETS ===== */
/* ========================= */

*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
fieldset{border:0;margin:0;padding:0}
legend{border:0;padding:0}
textarea{overflow:auto;resize:vertical}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
u,ins{border-bottom:1px solid #4d4d4d;text-decoration:none}
s,strike,del{text-decoration:line-through}
b,strong{font-weight:600}
em,cite,i,dfn,var,blockquote,address{font-family:'Libre Baskerville',serif;font-weight:400;font-style:italic}
q:before,q:after{font-size:1.15em}
q:before{content:'\201c'}
q:after{content:'\201d'}
dd{margin:0 0 0 2.5em}
menu,ol,ul{padding: 0 0 0 1.5em}
ol ol{list-style-type: lower-alpha}
ol ol ol{list-style-type:lower-roman}
::-moz-selection,::selection{background:#37F;color:#fff;text-shadow:none}
th::selection,th::-moz-selection{background:transparent;color:inherit}
a,small,s,q,u,i,b,strike,strong,mark,abbr,def,cite,var,kbd,span,em,ins,del,code,samp{line-height:1em}
p{-ms-word-break:break-all;-ms-word-wrap:break-all;word-break:break-word;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;-webkit-hyphenate-before:2;-webkit-hyphenate-after:3;hyphenate-lines:3}

/* ===== HELPER CLASSES ===== */
/* ========================== */

.clearfix:before,.clearfix:after{display:table;content:" "}
.clearfix:after{clear:both}
dl.inline dd{margin-left:0}
dl.inline dt,dl.inline dd{display:inline-block}
dl.inline dt:after{content:";"}
dl.inline dd:after{content:"."}
.center-text{text-align:center}
.thin-text{font-weight:400!important}
.font-16 p,p.font-16{font-size:16px}
.justify-text{text-align:justify}
img.valign{margin-bottom:0.4em;margin-top:0.4em}
.hidden{display:none !important;visibility:hidden}
.invisible{visibility:hidden}
.fullwidth,.fullscreen{width:100%}
.fullscreen,.fullheight,.middlize,.vmid,.icovr{overflow:hidden;position:relative;display:block}
.vmid,.middlize{margin-top:0;margin-bottom:0}
.middlize{margin:0 auto}
.icovr>img{position:absolute}

/* ===== PLACEHOLDER STYLES ===== */
/* ============================== */

body {
  font-size: 16px;
  line-height: 1.4em;
  color: #4d4d4d;
  font-family: 'Open Sans', Helvetica, Arial;
  font-weight: 400
}
p, pre, dl, menu, ol, ul, address, blockquote, figure, table, table caption, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: inherit
}
a, a:visited {
  text-decoration:none;
  color:#37F
}
h1 a, .h1 a, a.h1, h1 a:visited, .h1 a:visited, a.h1:visited,
h2 a, .h2 a, a.h2, h2 a:visited, .h2 a:visited, a.h2:visited,
h3 a, .h3 a, a.h3, h3 a:visited, .h3 a:visited, a.h3:visited {
  color: inherit
}
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0,0,0,0.3)
}
p a, p a:visited {
  outline: 0;
  border-bottom: 1px solid transparent
}
p a:hover, p a:visited:hover,
h4 a:hover, h4 a:visited:hover,
.h4 a:hover, .h4 a:visited:hover,
a.h4:hover, a.h4:visited:hover {
  border-bottom: 1px solid #37f
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4  {
  text-rendering: optimizelegibility;
  font-weight: 600;
  line-height: 1.2
}
h1, .h1 {font-size: 2.643em; margin-bottom: 0.5em }
h2, .h2 {font-size: 2.073em; margin-bottom: 0.6em }
h3, .h3 {font-size: 1.626em; margin-bottom: 0.7em }
h4, .h4 {font-size: 1.275em; margin-bottom: 0.8em }
h5, .h5 {font-size: 0.784em; font-weight: 400; text-transform:uppercase; letter-spacing:1.5px }
h6, .h6 {font-size: 0.615em; font-weight: 400 }

/* ===== YOUR STYLES ===== */
/* ======================= */



/* ===== ICONFONT ===== */
/* ==================== */

@font-face{
  font-family:'iconfont';
  src:url('../f/iconfont.eot');
  src:url('../f/iconfont.eot?#iefix')      format('embedded-opentype'),
      url('../f/iconfont.woff')            format('woff'),
      url('../f/iconfont.ttf')             format('truetype'),
      url('../f/iconfont.svg#iconfont')    format('svg');
  font-weight:normal;
  font-style:normal
}
[class*="icon-"]{
  font-family:'iconfont';
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:0;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke:0
}
[class*="icon-"]:before{
  position:relative;
  top:.13em;
  font-size:1.1765em
}
.icon-warning:before{content:"\21"}
.icon-quote:before{content:"\22"}
.icon-cart:before{content:"\24"}
.icon-repeat:before{content:"\25"}
.icon-ampersand:before{content:"\26"}
.icon-sort:before{content:"\62"}
.icon-left:before{content:"\28"}
.icon-file:before{content:"\77"}
.icon-star:before{content:"\2a"}
.icon-plus:before{content:"\2b"}
.icon-arrow-up:before{content:"\2c"}
.icon-minus:before{content:"\2d"}
.icon-arrow-down:before{content:"\2e"}
.icon-thumbs-up:before{content:"\2f"}
.icon-number-0:before{content:"\30"}
.icon-number-1:before{content:"\31"}
.icon-number-2:before{content:"\32"}
.icon-number-3:before{content:"\33"}
.icon-number-4:before{content:"\34"}
.icon-number-5:before{content:"\35"}
.icon-number-6:before{content:"\36"}
.icon-number-7:before{content:"\37"}
.icon-number-8:before{content:"\38"}
.icon-number-9:before{content:"\39"}
.icon-down:before{content:"\3a"}
.icon-up:before{content:"\3b"}
.icon-arrow-left:before{content:"\3c"}
.icon-menu:before{content:"\3d"}
.icon-arrow-right:before{content:"\3e"}
.icon-help:before{content:"\3f"}
.icon-right:before{content:"\29"}
.icon-bookmark:before{content:"\42"}
.icon-clock:before{content:"\43"}
.icon-dribbble:before{content:"\44"}
.icon-login:before{content:"\45"}
.icon-facebook:before{content:"\46"}
.icon-google-plus:before{content:"\47"}
.icon-home:before{content:"\48"}
.icon-picture:before{content:"\49"}
.icon-picasa:before{content:"\4a"}
.icon-key:before{content:"\4b"}
.icon-linkedin:before{content:"\4c"}
.icon-mail:before{content:"\4d"}
.icon-feed:before{content:"\4e"}
.icon-logout:before{content:"\4f"}
.icon-pinterest:before{content:"\50"}
.icon-comment:before{content:"\51"}
.icon-reply:before{content:"\52"}
.icon-cog:before{content:"\53"}
.icon-twitter:before{content:"\54"}
.icon-user:before{content:"\55"}
.icon-play:before{content:"\56"}
.icon-remove:before{content:"\58"}
.icon-ok:before{content:"\59"}
.icon-tools:before{content:"\5a"}
.icon-sort-up:before{content:"\5b"}
.icon-foward:before{content:"\66"}
.icon-thumbs-down:before{content:"\5c"}
.icon-sort-down:before{content:"\5d"}
.icon-upload:before{content:"\75"}
.icon-plane:before{content:"\61"}
.icon-vimeo:before{content:"\76"}
.icon-cross:before{content:"\78"}
.icon-search:before{content:"\71"}
.icon-calendar:before{content:"\63"}
.icon-download:before{content:"\64"}
.icon-earth:before{content:"\65"}
.icon-github:before{content:"\67"}
.icon-heart:before{content:"\68"}
.icon-info:before{content:"\69"}
.icon-phone:before{content:"\74"}
.icon-disk:before{content:"\73"}
.icon-link:before{content:"\6c"}
.icon-map-marker:before{content:"\6d"}
.icon-retweet:before{content:"\72"}
.icon-print:before{content:"\70"}
.icon-flickr:before{content:"\6b"}
.icon-camera:before{content:"\6a"}
.icon-credit:before{content:"\7b"}
.icon-paypal:before{content:"\7d"}
.icon-youtube:before{content:"\79"}
.icon-spinner:before{content:"\6f"}
.icon-music:before{content:"\6e"}
.icon-share:before{content:"\7a"}
.icon-verified:before{content:"\2714"}
.icon-bar:before{content:"\2015"}
.icon-at:before{content:"\7c"}
.icon-open-quote:before{content:"\201c"}
.icon-alarm:before{content:"\5f"}
.icon-tag:before{content:"\23"}
.icon-pencil:before{content:"\57"}
.icon-paperclip:before{content:"\41"}

/* ===== PRINT ===== */
/* ================= */

@media print{
*,*:before,*:after{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
